---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    {%- if page.title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- if post.img -%}
            <div style="clear: both;"></div>
            <img class="left list-thumb" src="{{ post.img }}">
            {%- endif -%}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h2>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
            {%- if post.img -%}
            <div style="clear: both;"></div>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
    {%- endif -%}

</div>
