---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.projects.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
        {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
        {%- for project in sorted_projects -%}
        <li>
            {%- if project.img -%}
            <div style="clear: both;"></div>
            <img class="left list-thumb" src="{{ project.img }}">
            {%- endif -%}

            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ project.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ project.url | relative_url }}">
                    {{ project.title | escape }}
                </a>
            </h3>

            {%- if site.show_excerpts -%}
            {%- if post.img -%}
            <img src="{{ site.baseurl }}/{{ post.img }}">
            {%- endif -%}
            {{ project.excerpt }}
            {%- endif -%}
            {%- if project.img -%}
            <div style="clear: both;"></div>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
    {%- endif -%}

</div>
